{{ if .Site.Params.about.enable | default false }}

<section id="about" class="py-0 py-sm-5">
    <div >
        <h3 class="text-center bg-transparent">{{ .Site.Params.about.title }}</h3>
        <div class="bg-transparent row justify-content-center px-3 py-5 justify-content-center">           
            <div class="mb-lg-0 content-block">
                
                {{ if .Site.Params.about.image_1 }}
                <div class="image d-flex px-5">
                    <img src="{{ .Site.Params.about.image_1 }}" class="img-thumbnail mx-auto rounded-circle profile-image-1" alt="">                    
                </div>
                {{ end }}

                <div class="justify-content-center text-center content">
                    {{ .Site.Params.about.content | markdownify }}
    
                    {{ if .Site.Params.about.skills.enable }}
                    {{ .Site.Params.about.skills.title }}
                    <ul class ="justify-content-center">
                        {{ range .Site.Params.about.skills.items }}
                        <li>{{ . | markdownify }}</li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>

                {{ if .Site.Params.about.image_2 }}
                <div class="image d-flex px-5">            
                    <img src="{{ .Site.Params.about.image_2 }}" class="img-thumbnail mx-auto rounded-circle profile-image-2" alt="">
                </div>
                {{ end }}

            </div>
            
            
        </div>
    </div>
</section>
{{ end }}